<!DOCTYPE html>
<html>
<head>
    <title>Booking Extended</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <h2>Booking Extended</h2>
        <p>Your booking has been extended.</p>
        <p>Booking ID: {{ booking_id }}</p>
        <a class="back-button" href="/home">Back to Home</a>
        <style>
            .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white; 
    text-decoration: none;
    border-radius: 5px;
  }
  
 
  .back-button:hover {
    background-color: #45a049;
  }
        </style>
    </div>
</body>
</html>
